fieldset{
  border: none;
  display: grid;
  margin-bottom: 20px;
}

fieldset > input{
  padding: 5px;
  width: 400px;
  margin-top: 10px;
  border: 1px solid;
  border-color: #e9e9e9;
}

fieldset > p{
  color: red;
}